<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
	<section name="specflow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
</configSections>
<appSettings>
	<add key="ArmpageUrl" value="https://www.nike.com/in/" />
</appSettings>
<runtime>
	<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
		<dependentAssembly>
			<assemblyIdentity name="BoDi" publicKeyToken="ff7cd5ea2744b496" culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-1.5.0.0" newVersion="1.5.0.0" />
		</dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="Gherkin" publicKeyToken="86496cfa5b4a5851" culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-19.0.3.0" newVersion="19.0.3.0" />
		</dependentAssembly>
	</assemblyBinding>
</runtime>
</configuration>